body {
  margin: 0px;
  padding: 0px;
}


.container {
  width: 960px;
  margin: 0px auto;
}

.header {
  width: 100%;
  float: left;
  //min-height: 90px;
  background-color: green;
}

.logo {
  width: 220px;
  min-height: 60px;
  background-color: orange;
  float: left;
  margin:  15px 0px;
}


.mainMenu {
  width: 540px;
  min-height: 25px;
  background-color: orange;
  float: right;
  margin: 35px 0 0 0;
}

.slider {
  width: 100%;
  float: left;
  background-color: blue;
}


.sliderItems {
  min-height: 430px;
  background-color: #fff;
  margin: 20px 10px;
}

.sliderNav {
  min-height: 20px;
  width: 125px;
  background-color: #fff;
  margin: 0px auto;
}
