body {
    background-color: rgba(0,0,0,0.3);
}
.select{
    width: 50%;
    height: 400px;
    position: absolute;
    left: 25% ;
    top: 25% ;
    background-color: brown;
}
.selectElem{
    position: relative;
}
.closeModel {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: darkgreen;
    width: 20px;
    height: 20px ;
    z-index: 1;
}
.textItem
{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: white;
}
.photoItem{
    position: relative;
    width: 100%;
    height: 390px;
    margin-top: 10px ;
}