<div>
  <div class="row justify-content-center"> likes : {{likes }}</div>
<div  class="row justify-content-center">
  <button class="btn btn-dark m-1" (click)="AddLikes()">
    <span *ngIf="!likeAdd; else liked">
      <i-bs
        name="heart"
        class="text-primary">
      </i-bs> Like
    </span>
    <ng-template #liked>
      <i-bs
        name="heart-fill"
        class="text-primary"
      >
      </i-bs> you Liked
    </ng-template>
  </button>
  <button class="btn btn-dark m-1" (click)="ShowComments()"> comment</button>
  <button class="btn btn-dark m-1"> repost</button>
</div>
<div  *ngIf="CommentsShow" class="row " >

      <app-comment [comments]="comments" class="w-100"></app-comment>
</div>

</div>
