<div>
  <div class="row justify-content-center" appSelected> likes : {{likes }}</div>
<div  class="row justify-content-center">
  <button appSelected class="btn btn-dark m-1" (click)="AddLikes()">

      <i-bs *ngIf="!likeAdd; else liked" appSelected [likeStatys]="likeAdd"
            name="heart"
            class="text-primary">
      </i-bs>

    <ng-template #liked>
      <i-bs appSelected
        name="heart-fill"
        class="text-danger"
      >
      </i-bs>
    </ng-template>
  </button>
  <button class="btn btn-dark m-1" (click)="ShowComments()"> comment</button>
  <button class="btn btn-dark m-1"> repost</button>
</div>
<div  *ngIf="CommentsShow" class="row " >

      <app-comment [idItem]="idItem"  class="w-100"></app-comment>
</div>

</div>
