#one {
    float: left;
    width: 40%;
    border: 2px solid black;
    margin-right: 10px;

}
#two {
    float: left;
    width: 40%;
    border: 2px solid black;
    margin-right: 10px;

}
#add {
    margin-left: 40%;
    padding: 10px;
}
img {
    width: 20px;

}